@model Basket

@if(Model == null)
{
    <h3 class="Empty-Basket">В вашей корзине еще нет товаров.</h3>
}
else
{
    <h3 class="Empty-Basket">Хороших покупок.</h3>
    <a type="button" class="btn btn-outline-danger" href="/Basket/Clear">Очистить корзину</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
      @*  @for (int i = 0; i < Model.GetProductsCount(); i++)*@
        @foreach (var item in Model.BasketItems)
        {
            <tr>
                <th scope="row">@*@(i + 1)*@</th>
                <td>@item.Product.Name</td>
                <td>@item.Amount</td>
                <td>@item.Cost</td>
                <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a type="button" class="btn btn-outline-secondary" href="/Basket/Add?productId=@item.Product.Id">+1</a>
                            <a type="button" class="btn btn-outline-secondary" href="/Basket/Remove?productId=@item.Product.Id">-1</a>
                        </div>
                </td>
            </tr>
        }


    </tbody>
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Количество</th>
            <th scope="col">Итого</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row"></th>
            <td></td>
            <td>@Model.GetProductsCount()</td>
            <td>@Model.TotalCost</td>
            <td></td>
        </tr>

    </tbody>

</table>

<a class="btn btn-dark" href="#">Оформить заказ</a>

}

