@model Basket

@if(Model == null)
{
    <h3 class="Empty-Basket">В вашей корзине еще нет товаров.</h3>
}
else
{
    <h3 class="Empty-Basket">Хороших покупок.</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
        </tr>
    </thead>
    <tbody>
      @*  @for (int i = 0; i < Model.GetProductsCount(); i++)*@
        @foreach (var item in Model.BasketItems)
        {
            <tr>
                <th scope="row">@*@(i + 1)*@</th>
                <td>@item.Product.Name</td>
                <td>@item.Amount</td>
                <td>@item.Cost</td>
            </tr>
        }


    </tbody>
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Количество</th>
            <th scope="col">Итого</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row"></th>
            <td></td>

            <td>@Model.GetProductsCount()</td>
            <td>@Model.TotalCost</td>
        </tr>

    </tbody>

</table>

<a class="btn btn-dark" href="#">Оформить заказ</a>

}

